# Eclipse Files
*/.settings
.metadata
.settings
.project
.classpath
.idea/*
*.iml
**/*.iml
# Local files
build

# Maven build directories
*/target
/accumulo-pxf-ext/doc
/json-pxf-ext/doc
/pxf-test/doc

/external-jars
/Servers
/RemoteSystemsTempFiles
